<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Charis+SIL&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Yummy</title>
</head>

<body>
    <!-- Navbar -->
    <nav style=" font-family: 'Montserrat', sans-serif; font-size:15px;" class="navbar  navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a style="font-size:28px" class="navbar-brand  " href="#">
                <img src="https://i.pinimg.com/736x/54/26/4a/54264a84e2f96cb7a5c32efa99b4714d.jpg" alt="" width="100" height="90" class="d-flex justify-content-sm-start align-items-sm-start mx-lg-5">
            </a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item p-3 px-lg-4 ">
                        <a class="nav-link " aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item p-3 px-lg-4 ">
                        <a class="nav-link " href="#">All Courses</a>
                    </li>
                    <li class="nav-item p-3 px-lg-4 ">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item dropdown p-3 px-lg-4 ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Student Registration
                </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Teacher Registration</a></li>
                        </ul>
                    </li>

                    <li class="nav-item p-3 px-lg-4">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                    <li class="nav-item p-3 px-lg-4">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item p-3 px-lg-4 ">
                        <a class="nav-link" href="#">Student Scholarship</a>
                    </li>
                    <li class="nav-item p-3 px-lg-4 ">
                        <a class="nav-link" href="#">My Cart</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="text-center pt-3 mt-3">
        <p style="font-size: 26px;"><strong>About Dynamic Solution</strong></p>
        <p style="font-size: 16px;"><a href="" style="text-decoration:none; color:#535967;">By.Dynamic Solution</a> </p>
    </div>

    <div class="text-center pt-4 mt-3 px-2 mx-2 px-md-2 mx-md-2">
        <img src="https://skill-veda.com/wp-content/uploads/2021/05/Seto-Great-Bridge-Inland-Sea-Kojima-Honshu.jpg" alt="" class=" img-fluid pb-4 mb-3">
    </div>
    <div class=" ">
        <div class="text-justify mx-2 px-2 mx-md-3 px-md-3 px-lg-5 mx-lg-5 ">
            <p style="font-size: 18px;">Dynamic Solution was established in July 2020 under Government of Nepal Company Act 2063.The company aims to transfer knowledge and technologies in civil engineering industry among engineers and experts in and outside Nepal. We provide high
                quality consultancy services using latest technology at an affordable cost. We also aim to empower young engineer through R&D and educational training services.</p>
            <p style="font-size: 30px;"><strong>Service Areas</strong></p>
            <p style="font-size: 24px;">Design and Consulting</p>
            <ul style="list-style: none;" class="px-1 mx-1 pt-4 pb-4">
                <li class="mb-2">* Commercial, public and residential building</li>
                <li class="mb-2">* Roads and bridges</li>
                <li class="mb-2">* Hydropower studies and development</li>
                <li class="mb-2">* Retrofitting of existing structure</li>
                <li class="mb-2">* Railway and metro</li>
                <li class="mb-2">* Irrigation, water supply and sanitation</li>
            </ul>

            <p style="font-size: 24px;">Educational and training services</p>
            <ul style="list-style: none;" class="px-1 mx-1 pt-4 pb-4">
                <li class="mb-2">* Bridge design both manual and software based (Midas Civil, CSI Bridge)</li>
                <li class="mb-2">* Building Design software based (ETABS, SAP2000,SAFE,REVIT)</li>
                <li class="mb-2">* Trail Bridge Design</li>
                <li class="mb-2">* Road Design</li>
                <li class="mb-2">* Finite Element Analysis using Ansys</li>
                <li class="mb-2">* Industry oriented-Geotechnical Engineering and Solution</li>
            </ul>

            <p style="font-size: 24px;">Research and Development</p>
            <ul style="list-style: none;" class="px-1 mx-1 pt-4 pb-4">
                <li class="mb-2">* Earthquake Engineering and Structural Dynamics</li>
                <li class="mb-2">* Transportation Infrastructure</li>
                <li class="mb-2">* River Training and Hydrology</li>
            </ul>
            <p style="font-size: 24px;"><strong>About the Founders</strong></p>
            <img src="https://skill-veda.com/wp-content/uploads/2021/05/118308353_325780865501238_5002213176589645953_n-1-2-1024x752.jpg" alt="" class="img-fluid pb-2 mb-2">
            <p class="text-center">Yogesh Bhattarai, Managing Director</p>
            <p>Mr. Yogesh Bhattarai is the Managing Director of Dynamic Solution. Mr. Bhattarai completed his Masters from Indian Institute of Technology (IIT), Roorkee in the field of Structural Dynamics in 2016. He worked in L&T (Larsen & Toubro) for two
                years in the field of metro and railway. In the tenure of two year, he was involved in the Design of Railway structure (OHE, Portal Structure, Station Building, Transmission Line Design, Sub-station building). <br> <br> From 2018 onwards,
                he returned to Nepal and worked in hydropower sector as Design Engineer at CSPDR-SINOTECH JV in association with Soil Test. He was involved in Planning, Design and Feasibility study of Upper Arun Hydropower Project along with preparation
                of Tender Document.</p>
            <img src="https://skill-veda.com/wp-content/uploads/2021/05/90435955_3051637764859090_8097874839030726656_o-1-768x633.jpg" alt="" class="img-fluid pb-2 mb-2">
            <p class="text-center">Pratyush Jha, Technical Director</p>
            <p>Mr. Pratyush Jha is the Technical Director of Dynamic Solution. Mr. Jha completed his Masters from Indian Institute of Technology (IIT), Roorkee in the field of Structural Dynamics as a department gold medalist in the year 2017. He was a DAAD
                Scholar at TU Munich during 2016-17. He returned to Nepal and worked on various prestigious building design and retrofitting projects as Structural Engineer at Digicon Engineering Consult. He later served as Bridge Design Engineer at Local
                Roads Bridge Program (LRBP) during 2019-20 and National Structural Earthquake Engineer – Individual Consultant at UN Department of Safety and Security Nepal during 2018-21. Presently, he is involved in consulting as well as research activities
                related to bridge engineering.</p>
            <p><strong>Mr. Bhattarai and Mr. Jha are one of the few persons to crack the prestigious Graduate Aptitude Test in Engineering (GATE) Exam for admission in Master Program in IIT. They are actively working towards their vision to uplift the Civil Engineering Practice and Profession in Nepal to international standard.</strong></p>
        </div>
    </div>
    <footer class="bg-light">
        <div class="row px-lg-5 mx-lg-5 px-3 mx-2 pt-5 mt-5 ">
            <div class="col-lg-3 col-sm-12 col-md-6">
                <p style="font-size:22px;"><strong>Contact us</strong></p>
                <p>Sinamangal-9, GairigaunTinkuney,
                </p>
                <p>Kathmandu, Nepal
                </p>
                <p>Contact no : 9816969180(Whatsapp/Viber)
                </p>
                <p>Email :dspl.nepal20@gmail.com

                </p>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <p style="font-size:22px;"><strong>Quick Links</strong></p>
                <p><a href="" style="color: #535967; text-decoration: none;">Home</a></p>
                <p><a href="" style="color: #535967; text-decoration: none;">Blog</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">Dashboard</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">Instructor Registration</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">My account</a> </p>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <p style="font-size:22px;"><strong>Popular Courses</strong></p>
                <p><a href="" style="color: #535967; text-decoration: none;">Bridge Design</a></p>
                <p><a href="" style="color: #535967; text-decoration: none;">Building Design</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">FEM using Ansys</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">Advance Bridge Design</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">Excel VBA</a> </p>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6">
                <p style="font-size:22px;"><strong>About Us</strong></p>
                <p><a href="" style="color: #535967; text-decoration: none;">Dynamic Solution</a></p>
                <p><a href="" style="color: #535967; text-decoration: none;">Terms and condition</a> </p>
                <p><a href="" style="color: #535967; text-decoration: none;">Privacy Policy</a> </p>

            </div>
        </div>
        <div class="row mx-lg-5 px-lg-5 my-3 px-2 mx-2">
            <div class="col-lg-6 pt-lg-4 pt-sm-2 col-md-6">
                <p style="font-size:22px;"><strong>Follow Us on</strong></p>
                <a href="http://"> <i class="bi bi-facebook px-2"></i></a>
                <a href="http://"><i class="bi bi-youtube px-2"></i></a>
                <a href="http://"><i class="bi bi-linkedin px-2"></i></a>

            </div>
            <div class="col-lg-6 pt-4 col-md-6">
                <p style="font-size:22px;"><strong>Payment Partners</strong></p>
                <img src="https://skill-veda.com/wp-content/uploads/2021/06/payment-partner.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <hr>
        <p class="text-center p-3 text-secondary">©2021, Dynamic Solution Pvt Ltd.</p>
    </footer>


    <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js " integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js " integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK " crossorigin="anonymous "></script>

</body>

</html>